#pokedex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 1000px;
  margin: auto;

}

.carta {
    margin-top: 22px;
    text-align: center;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.452);
    height: 241px;
    width: 303px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 6%;
    background-color: antiquewhite;
    
    
  
    img {
      width: 160px;
    }
  }
  .nombrecarta {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  img {
    display: flex;
    align-items: center;

    height: 200px;
    width: 200px;
  }


